<configuration>

    <appender name="LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/homemote/homemote.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/homemote/homemote.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %-5level %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="RF" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/homemote/rf.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/homemote/rf.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="LOG"/>
    </root>

    <logger name="io.homemote" level="INFO"/>
    <logger name="io.homemote.serial.GatewayDriver" level="DEBUG">
        <appender-ref ref="RF"/>
    </logger>

</configuration>